/*MIXINS*/

/*GRID & FLEX*/

@mixin mainWidget() {
    border: 10px solid $manila;
    border-radius: 20px;
    background-color: $manila-light;
    width: 620px;
    height: 600px;
    margin: 20px;
}

// @mixin mainWidgetSmall() {
//     border: 10px solid $manila;
//     border-radius: 20px;
//     background-color: $manila-light;
//     width: 300px;
//     height: 600px;
//     margin: 20px;
// }

@mixin dodoform() {
    display: flex;
    flex-flow: column nowrap;
    border: 10px solid $manila;
    width: 450px;
    height: auto;
    legend {
        font-size: 30px;
    }
    label, h4 {
        font-family: $primary-font;
        font-size: 20px;
    }
    input, select {
        font-size: 20px;
        height: 30px;
        margin: 10px;
    }
    button {
        height: 35px;
        font-size: 20px;
        margin: 10px;
        background-color: $manila-light;
        border: 4px outset $manila;
    }
}

@mixin formFlex() {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@mixin backgroundAnimation() {
    background: linear-gradient(-45deg, #3f5efb, #3f94bf, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}