/*VARIABLES*/

/*FONT-IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

/*COLORS*/
$white: white;
$manila: #f1d592;
$manila-light: lighten(#f1d592, 10%);

/*FONTS*/
$carter: 'Carter One', sans-serif;
$primary-font: 'Zilla Slab', serif;
$secondary-font: 'Work Sans', sans-serif;

/*ETC.*/
$white-border: 1px solid white;