/* This is an example of using Sass, otherwise plain CSS works too*/
@import "_variables.scss";
@import "_mixins.scss";

body {
  background: $primary-background;
  display: flex;
  flex-flow: column nowrap;
}

#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#dodo-logo {
  width: 200px;
  height: auto;
}

h1 {
  font-family: $carter;
  color: $white;
  font-size: 45px;
}

#main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header-widget {
 border: 5px solid white;
 border-radius: 20px;
 width: max-content;
 height: min-content;
 padding: 5px;
 margin: 5px;
 justify-self: right;
 font-family: $secondary-font;
 padding: -20px 15px;

 p {
   color: white;
   text-align: center;
   font-size: 25px;
 }

 h3 {
   color: white;
 }
}

.login-widget {
  @include mainWidget;
  @include formFlex;

  fieldset {
    @include dodoform;
    align-self: center;
  }
}

.login {
  display: flex;
  flex-flow: column;
}

.main-widget {
  @include mainWidget;
}

h2 {
  font-family: $carter;
}

h3, legend, button {
  font-family: $primary-font;
}

p, input {
  font-family: $secondary-font;
}

#book-trip,
#find-traveler,
#search-results {
  @include formFlex;
  h4 {
    font-family: $primary-font;
    font-size: 20px;
    font-weight: bold;
  }
  button {
    background-color: $manila-light;
    border: 4px outset $manila;
  }
}

.booking-form,
.find-traveler {
  @include dodoform;
  padding: 20px;
}

#pending-trips,
#trips-display {
  h2 {
    text-align: center;
    font-size: 30px;
  }
}

.hidden {
  display: none!important;
}

#dodo-logo {
  padding-right: 15px;
}

.trip {
  height: auto;
  width: 250px;
  border: 5px double $manila;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  text-align: center;
    h4 {
      font-family: $primary-font;
      font-size: 20px;
      font-weight: bold;
    }
    button {
      background-color: $manila-light;
      border: 4px outset $manila;
    }
}

.trip-image {
  width: 245px;
  height: 150px;
  overflow: hidden;
  border: 2px solid $manila;
  border-radius: 20px;
}

#trips-display,
#pending-trips,
.searched-trips {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 625px;
    .trips-header {
      align-self: flex-start;
      padding-right: 200px;
      padding-left: 20px;
    }
}

.log-out {
  align-self: right;
}
