/* IMPORTS*/
@import "_variables.scss";
@import "_mixins.scss";

/*GENERAL RULES*/
body {
  @include backgroundAnimation;
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  font-family: $carter;
  color: $white;
  font-size: 45px;
}

h2 {
  font-family: $carter;
}

h3, legend, button {
  font-family: $primary-font;
}

p, input {
  font-family: $secondary-font;
}

/*HEADER RULES*/
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#dodo-logo {
  width: 200px;
  height: auto;
  padding-right: 15px;
}

.header-widget {
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  width: max-content;
  height: min-content;
  padding: 5px;
  margin: 5px;
  justify-self: right;
  font-family: $secondary-font;
  padding: -20px 15px;
 
  p {
    color: white;
    text-align: center;
    font-size: 25px;
  }
 
  h3 {
    color: white;
  }
 }

 .log-out {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 2px outset white;
  color: rgba(63,94,251,1);
  width: max-content;
}

/*MAIN WIDGET & BODY RULES*/

#main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.main-widget {
  @include mainWidget;
}

.login-widget {
  @include mainWidget;
  @include formFlex;

  fieldset {
    @include dodoform;
    align-self: center;
  }
}

.login {
  display: flex;
  flex-flow: column;
}

#book-trip,
#find-traveler,
#search-results {
  @include formFlex;
  h4 {
    font-family: $primary-font;
    font-size: 20px;
    font-weight: bold;
  }
  button {
    background-color: $manila-light;
    border: 4px outset $manila;
  }
}

.booking-form,
.client-search {
  @include dodoform;
  padding: 20px;
}

#pending-trips,
#trips-display {
  h2 {
    text-align: center;
    font-size: 30px;
  }
}

/*TRIP CARD RULES*/

#trips-display,
#pending-trips,
.searched-trips {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 625px;
    .trips-header {
      align-self: flex-start;
      padding-right: 200px;
      padding-left: 20px;
    }
}

.trip {
  height: auto;
  width: 260px;
  background-color: $manila-light;
  border: 5px double $manila;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  text-align: center;
    h4 {
      font-family: $primary-font;
      font-size: 20px;
      font-weight: bold;
    }
    button {
      background-color: $manila-light;
      border: 4px outset $manila;
    }
}

.trip-image {
  width: 240px;
  height: 150px;
  overflow: hidden;
  border: 2px solid $manila;
  border-radius: 20px;
}

/*OTHER RULES*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hidden {
  display: none!important;
  //had to use !important because it didn't work otherwise
  //and I couldn't figure out why
}


@media screen and (min-width: 320px) and (max-width: 767px) {

  .main-widget {
    @include mainWidgetSmall;
  }

  .login-widget {
    @include mainWidgetSmall;
    @include formFlex;
  
    fieldset {
      @include dodoformSmall;
      align-self: center;
    }
  }

  .trip {
    height: auto;
    width: 170px;
    background-color: $manila-light;
    border: 2px double $manila;
    border-radius: 20px;
    margin: 10px;
    padding: 0px;
    text-align: center;
      h4 {
        font-family: $primary-font;
        font-size: 15px;
        font-weight: bold;
      }
      button {
        background-color: $manila-light;
        border: 3px outset $manila;
      }
  }

  .trip-image {
    width: 140px;
    height: 100px;
    overflow: hidden;
    border: 2px solid $manila;
    border-radius: 20px;
  }

  .client-search {
    border: none;
  }

  #search-results {
    height: max-content;
    overflow-y: scroll;
  }

  #book-trip {
    height: max-content;
  }

  .booking-form,
  .form-interior,
  #booking {
    width: 200px;
    padding: 0px;
    border: none;
    button,
    label,
    input,
    select {
      font-size: 15px;
    }
  }
 
}